.modalView {
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

.button {
  display: inline;
  border: solid;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
}
