.spotViewInfo {
  margin-top: 10px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switchSelector {
  padding: 3px;
}

.selectorLabel {
  font-size: 0.9rem;
  color: white;
}

.switchSelectorWrapper {
  width: 30%;
}

.spotViewTitle {
  text-align: left;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
}
