.formArea {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2adf88;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.formInputs {
  width: 90%;
  text-align: left;
}

.formLabel {
  display: inline-block;
  font-size: 0.8rem;
}

.formLabelSpan {
  font-size: 0.6rem;
  color: red;
}

.formInputTitle {
  display: block;
  outline: none;
  border-radius: 2px;
  width: 100%;
}

.formInputDescription {
  display: block;
  outline: none;
  border-radius: 2px;
  width: 100%;
  padding-bottom: 2rem;
}

.buttonArea {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.submitButton {
  background: linear-gradient(to bottom right, #2adf88, #36ff9f);
  border-radius: 22px;
  height: 44px;
  width: 30%;
}
